__pycache__/
*.idea
*.pyc
*.tif
*.tiff
*.DS_Store
*.csv
Vent/
video_sequence/
*.ipynb_checkpoints
*.jpg
*.mp4
*.zip
bin/jpdaf*
bin/gospapy*
development/tracking/test
tracking_algorithm_evaluation/python_plus_octave/data
*.avi
