__pycache__/
*.idea
*.pyc
*.tif
*.tiff
*.avi
*.mp4
*.jpg
*.zip
*.DS_Store
*.csv
*.ipynb_checkpoints
Vent/
video_sequence/
bin/jpdaf*
bin/gospapy*
development/tracking/test
tracking_algorithm_evaluation/python_plus_octave/data
project/tool/build
project/tool/dist
